@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");

*,
::before,
::after {
  box-sizing: border-box;

}
a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}

body {
  @media (max-width: 1000px){
  margin: 0px auto;
  }
  
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0;
}
.large {
  font-size: large;
}

h2 {
  margin: 3rem;
  margin-bottom: 1.25rem;
  padding-top: 2rem;
  padding-left: 0.8rem;

}
h3,p {

  margin: 0;
  padding-left: 1rem;
}



