@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  color: #000000;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}
@media (max-width: 1000px) {
  body {
    margin: 0px auto;
  }
}

main {
  margin: auto;
}

.large {
  font-size: large;
}

h2 {
  margin-bottom: 1.5rem;
  padding-top: 2rem;
  padding-left: 0.8rem;
}

h3 {
  padding-left: 1rem;
  margin: 0;
}

.pI {
  padding-left: 1rem;
  margin: 0;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0;
  position: relative;
  height: 10vh;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
  padding-right: 2rem;
}
.city i {
  font-size: 1.5rem;
}

.explorer {
  text-align: center;
  flex-direction: column;
}
.explorer h2 {
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  transition: tranform 200ms;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 2px 1px 8px -3px black;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 3s forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-radius: 50%;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 3;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.tuto {
  counter-reset: steps;
  margin-bottom: 2rem;
}
.tuto h2 {
  margin-left: 1rem;
}
.tuto ol {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-right: 1rem;
}
@media (max-width: 1000px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  font-weight: bold;
  box-shadow: 2px 1px 8px -3px black;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  place-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  left: -1rem;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
.tuto li:hover {
  transform: scale(1.02);
  background-color: #f3dced;
}
.tuto li:hover i::before {
  color: #9356dc;
}
.tuto li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

#homepage .menus {
  background-color: #f6f6f6;
}
#homepage .menus h2 {
  margin-left: 1rem;
}
#homepage .menus .menus_cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 4rem;
}
@media (min-width: 1023px) {
  #homepage .menus .menus_cards {
    gap: 2.5rem;
  }
}
#homepage .menus .menus_cards .new {
  position: relative;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem #fff;
}
#homepage .menus .menus_cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  text-align: center;
  padding: 0.5rem;
  right: 1rem;
  top: 1rem;
}
#homepage .menus .menus_cards .new_transparent {
  position: relative;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem #fff;
}
#homepage .menus .menus_cards .new_transparent::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  text-align: center;
  padding: 0.5rem;
  right: 1rem;
  top: 1rem;
  visibility: hidden;
}
#homepage .menus .menus_cards i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 10.5rem;
}

.card {
  height: 4rem;
  flex-grow: 1;
  width: 20rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.fondCard {
  height: 3rem;
}

.fa-solid {
  color: transparent;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.fa-solid:hover {
  opacity: 1;
  transform: translateY(1%) scale(1);
}

footer {
  background-color: #353535;
  padding: 0 1.5rem;
  color: white;
}
footer a:link, footer a:visited, footer a:hover, footer a:active {
  color: white;
  text-decoration: none;
}
footer i {
  padding-right: 0.5rem;
}
@media (min-width: 1000px) {
  footer i {
    visibility: hidden;
  }
}

.div {
  padding: 0.4rem;
}

.modif {
  font-family: "Shrikhand", sans-serif;
  font-weight: 550;
  margin: 0;
  padding: 0.5rem;
  padding-top: 1rem;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.fa-solid {
  color: transparent;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms ease-in-out;
  position: absolute;
}

.fa-solid:hover {
  opacity: 1;
  transform: translateY(1%) scale(1);
  position: absolute;
}

.position1 {
  position: absolute;
  left: 85%;
}

h1 {
  font-size: x-large;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h5 {
  padding: 4rem;
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: large;
  margin: 0;
  padding: 0.5rem;
}

p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0.5rem;
  margin: 0;
}

.p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #a09393;
}

#page-restoPc header:hover::before {
  transform: translateY(-50%) scale(1.2);
}
#page-restoPc header::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: large;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.25em;
  text-align: center;
  content: "\f060";
  padding-left: 2rem;
  transition: transform 200ms;
}
#page-restoPc header h1 {
  margin-top: 1rem;
  align-items: center;
}
#page-restoPc .banner img {
  display: block;
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
#page-restoPc .resto_title {
  margin-top: -2rem;
  background-color: #f6f6f6;
  display: flex;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem 1rem;
  position: relative;
}
#page-restoPc .resto-main {
  padding: 0 1rem;
  background: #f6f6f6;
}
#page-restoPc .resto-main h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 1.2rem;
}
#page-restoPc .resto-main h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  height: 0.2rem;
  width: 3rem;
  background-color: #99e2d0;
}
#page-restoPc .menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  #page-restoPc .menus {
    grid-template-columns: 1fr;
  }
}
#page-restoPc .menus .category {
  overflow: hidden;
}
#page-restoPc .menus .category .menu-item {
  height: 75px;
  display: flex;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.5rem;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  animation: appear 1s;
  animation-fill-mode: both;
}
#page-restoPc .menus .category .menu-item:nth-child(1) {
  animation-delay: 250ms;
}
#page-restoPc .menus .category .menu-item:nth-child(2) {
  animation-delay: 500ms;
}
#page-restoPc .menus .category .menu-item:nth-child(3) {
  animation-delay: 750ms;
}
#page-restoPc .menus .category .menu-item .menu-item__price {
  margin-left: auto;
  font-weight: 900;
  padding: 0.8rem;
  display: flex;
  align-items: flex-end;
}
#page-restoPc .menus .category .menu-item .menu-item__description {
  justify-content: center;
  padding: 0.5rem;
  overflow: hidden;
}
#page-restoPc .menus .category .menu-item .menu-item__description h4 {
  margin: 0.5rem;
}
#page-restoPc .menus .category .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-restoPc .menus .category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  font-size: 2rem;
  background-color: white;
  color: #99e2d0;
  border-radius: 1rem;
}
#page-restoPc .menus .category .menu-item:hover {
  cursor: pointer;
}
#page-restoPc .menus .category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-restoPc .menus .category .menu-item:hover i {
  animation: quaterspin 0.5s ease-in-out;
}
@keyframes quaterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
#page-restoPc div.order {
  height: 20vh;
  display: grid;
  place-items: center;
}
#page-restoPc div.order .button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  transition: transform 200ms;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px black;
}
#page-restoPc div.order .button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
