@use "./../utils/colors.scss";

footer{
    background-color: colors.$darkgrey;
    padding: 0 1.5rem;
    color: white;
}

h4 {
    font-family: "Shrikhand", sans-serif;
    font-weight: 500;
    margin: 0; 
    padding: 0.5rem;
}

.div {
    padding: 0.2rem;
}