@use "./../utils/colors.scss";

footer{
    background-color: colors.$darkgrey;
    padding: 0 1.5rem;
    color: white;
    a:link, a:visited,  a:hover, a:active
    {
        color: white;
        text-decoration: none;
    }
    i {
        padding-right: 0.5rem;
            @media (min-width: 1000px){
            visibility: hidden;
        }
    }
}
.div {
    padding: 0.4rem;
}
.modif {
    font-family: "Shrikhand", sans-serif;
    font-weight: 550;
    margin: 0; 
    padding: 0.5rem;
    padding-top: 1rem;
  }
  
