@use "../utils/box-shadow.scss";
@use "../utils/zoom.scss";
@use "../utils/variables";
@use "../utils/colors";

.tuto{
    counter-reset: steps;
    margin-bottom: 2rem;
    h2 {
        margin-left: 1rem;
    }
    & ol{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-right: variables.$tuto-bullet-heihgt;
        @media (max-width: 1000px) {
            flex-direction: column;
        }
    }
    & li{
        position: relative;
        &::before {
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: colors.$purple;
            width: 2 * variables.$tuto-bullet-heihgt;

            place-items: center;
            padding: 0.5rem;
            border-radius: 50%;
            position: absolute;
            left: -1 * variables.$tuto-bullet-heihgt;
            top: 50%;
            text-align: center;
            transform: translateY(-50%);
            
        }
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 1.5rem 2rem;
        flex-grow: 1;
        border-radius: 1rem;
        font-weight: bold;
        @include box-shadow.base-shadow;
        &:hover {
        @include zoom.zoom;
        background-color: #f3dced;
        i::before{
        color: colors.$purple ;
        }
        }
        & i.fas {
            margin-right: 1rem;
            color: colors.$lightgrey;
            font-size: 1.5rem;
        }
    }
}
